@import "popover-settings.less";

@popover-spacing: 7px;
@popover-padding: 10px;
@popover-border-width: 1px;
@popover-border-color: #888;
@popover-border-radius: 5px;
@popover-background-color: #fff;
@popover-diagonal: @popover-spacing * sqrt(2);
@popover-box-shadow: 2px 2px 5px 0 #444;

.popover-trigger {
	position: relative;
}

.popover {
	display: block;
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 30vw;
	padding-left: @popover-spacing;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s, opacity 0.3s;
	-webkit-backface-visibility: hidden;
	-webkit-filter: blur(0);
	&:before {
		content: '';
		display: block;
		position: absolute;
		transform: translateX(-@popover-diagonal / 2) translateY(-50%) rotate(45deg);
		top: 50%;
		height: @popover-diagonal;
		width: @popover-diagonal;
		border: @popover-border-width solid @popover-border-color;
		background-color: #888;
		z-index: -1;
		box-shadow: @popover-box-shadow;
		-webkit-backface-visibility: hidden;
		-webkit-filter: blur(0);
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		background: @popover-background-color;
		background: -webkit-linear-gradient(45deg, @popover-background-color 51%, transparent 51%);
		background: -moz-linear-gradient(45deg, @popover-background-color 51%, transparent 51%);
		background: -o-linear-gradient(45deg, @popover-background-color 51%, transparent 51%);
		background: linear-gradient(45deg, @popover-background-color 51%, transparent 51%);
		transform: translateX(@popover-border-width - @popover-diagonal / 2) translateY(-50%) rotate(45deg);
		top: 50%;
		height: @popover-diagonal;
		width: @popover-diagonal;
		z-index: 1;
		-webkit-backface-visibility: hidden;
		-webkit-filter: blur(0);
	}

	& .popover-content {
		padding: @popover-padding;
		background-color: @popover-background-color;
		border: @popover-border-width solid @popover-border-color;
		border-radius: @popover-border-radius;
		box-shadow: @popover-box-shadow;
		z-index: 1;
	}
	
	*:hover > &,
	&.popover-open {
		opacity: 1;
		visibility: visible;
	}
}

